name: CI 

on:
  push:
    tags-ignore:
      - "*"
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write

jobs:
  lint_test_build:
    uses: ./.github/workflows/lint_test_build.yml
    if: ${{ github.ref != 'refs/heads/main' || github.event_name == 'workflow_dispatch' }}
    permissions:
      contents: read
    with:
      go_version: "1.25"
      node_version: "22"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      NX_CLOUD_ACCESS_TOKEN_READONLY: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}

  pack:
    uses: ./.github/workflows/pack.yml
    permissions:
      contents: write
      packages: write
    if: ${{ github.event_name == 'workflow_dispatch' }}
    with:
      go_version: "1.25"
      node_version: "22"
      semantic_version: "23.0.7"
      image_name_github_api: "ghcr.io/nirvati/zitadel"
      image_name_github_login: "ghcr.io/nirvati/zitadel-login"

  release:
    uses: ./.github/workflows/release.yml
    permissions:
      packages: write
      contents: write
      issues: write
      pull-requests: write
    needs:
      - lint_test_build
      - pack
    if: ${{ github.event_name == 'workflow_dispatch' }}
    with:
      semantic_version: "23.0.7"
      image_name_github_api: "ghcr.io/nirvati/zitadel"
      image_name_github_login: "ghcr.io/nirvati/zitadel-login"
